development/
.flaskenv
.env
.vscode/
logs/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

.DS_Store
db.sqlite
app.db