{% extends 'bootstrap/base.html' %}

{% block scripts %}
{{super()}}
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var graphs = {{graphJSON|safe}};
    var ids = {{ids | safe}};
    for(var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
                    graphs[i].data,
                    graphs[i].layout || {},
                    {responsive: true});
    }
</script>
{% endblock%}

{% block content %}
<div class = "container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="jumbotron">
            <h1>Playful Entertainers</h1>
            <p>Deep Dive</p>
        </div>
    <div class="row">
        {% for id in ids %}
        <div class="col-xs-6 col-lg-4">
            <div id="{{id}}"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}